body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border: 5px;
}

.about {
    max-width: 800px;
    margin: 20px auto;
}